

# 1. 接口配置
source [find interface/jlink.cfg]
transport select swd

# 2. [关键补丁] 解决芯片 ID 不匹配报错 (F1 系列通用 ID)
#set CPUTAPID 0x1ba01477

# 3. 目标芯片配置
source [find target/stm32f1x.cfg]

# 4. 降低速度确保稳定
adapter speed 2000

# 5. 复位配置 (C8T6 核心板通常不接 RST 线，选 none 最稳)
reset_config none

# 6. 初始化事件
$_TARGETNAME configure -event gdb-attach {
echo "GDB connected - resetting target"
reset init
}

$_TARGETNAME configure -event gdb-detach {
echo "GDB disconnected"
}